<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link rel="stylesheet" href="/new.css">
  </head>
  <body>
    <div id="header">
        <div>
          <img
            src="https://png.pngtree.com/png-clipart/20230401/original/pngtree-three-dimensional-instagram-icon-png-image_9015419.png"
            id="inlogo"
            alt=""
          />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUtZ2q6Dr4ZP4zU01VfGffyc_u-z8vIY4BCA&s"
            height="75px"
            alt=""
          />
        </div>
      </div>
      <hr>
      <h2>Create New Account</h2>
    <div id="form">
      <form action="/profile" method="post">
        <label for="user">Username :-</label>
        <input type="text" name="username" id="user" /><br /><br />
        <label for="pass">Password :-</label>
        <input type="password" id="pass" name="password" id="" /><br /><br />
        <input type="checkbox" name="" id="term"> 
        <label for="term">I Accept Terms & Condition.</label>
        <button id="sub">Submit</button>
      </form>
    </div>
  </body>
</html>
